body {
    background-color: #181a1b;
    margin: 5px;
}

.header {
    background-color: orange;
    height: 50px;
    display: none;
}

.footer {
    background-color: orange;
    height: 50px;
    display: none;
}

li {
    float: right;
}

.headList {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headList:hover {
    background-color: #111;
}

.active {
    background-color: red;
}
    